<div class="panel">
    <div class="panel-heading">P치gina de inicio</div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="ui dividing header">Faltas <a href="/inspeccion/getCursos" class="btn btn-success btn-sm"><i class="fa fa-plus"></i></a> </div>
            <table class="ui table compact selectable" id="tbl_alumnos">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Curso</th>
                        <th>Alumno</th>
                        <th>Materia</th>
                        <th>Fecha</th>
                        <th>Est.</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each inasistencias}}
                    <tr {{#ifeq justificada 1}} class="positive" {{/ifeq}}>
                        <td>{{idinasistencia}}</td>
                        <td><a href="/inspeccion/getAlumnos/{{idcurso}}"><i class="fa fa-arrow-alt-circle-right"></i>
                                {{cur_curso}}</a></td>
                        <td>{{alu_apellidos_nombres}}</td>
                        <td>{{materia}}</td>
                        <td>{{ina_fecha}}</td>
                        <td>

                            {{#ifeq justificada 0}}
                            <i class=" fa fa-check-circle text-red negative" data-toggle="popover"
                                title="Falta injustificada" data-placement="top" data-trigger="hover"
                                data-content="Fecha: {{../ina_fecha}}. Comentario: {{../ina_injust_comment}}"></i>
                            {{else}}
                            <i class=" fa fa-check-circle text-green" data-toggle="popover" title="Falta justificada"
                                data-placement="top" data-trigger="hover"
                                data-content="Fecha: {{../ina_just_fecha}}. Comentario: {{../ina_just_comment}}"></i>
                            {{/ifeq}}
                        </td>
                        <td>
                            {{#ifeq justificada 0}}
                            <span class="btn btn-xs btn-default" data-toggle="modal"
                                data-target="#modal-justificar-{{../idinasistencia}}"
                                onclick="clearForm({{../idinasistencia}})"><i class="fa fa-check"
                                    title="Justificar falta"></i>
                            </span>
                            {{!-- TODO:modal justificacion --}}
                            <div class="modal fade" id="modal-justificar-{{../idinasistencia}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header alert-success">
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Justificar falta</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="field">
                                                <label for="">Resumen de la informaci칩n:</label>
                                            </div>

                                            <ul>
                                                <li>{{../alu_apellidos_nombres}}</li>
                                                <li>{{../ina_fecha}}</li>
                                                <li>{{../materia}}</li>
                                            </ul>
                                            <form action="/inspeccion/faltas/justificar" class="ui form"
                                                id="form-justificar-{{../idinasistencia}}" method="post">
                                                <div class="col-md-11">
                                                    <input type="hidden" name="idinasistencia"
                                                        value="{{../idinasistencia}}">
                                                </div>

                                                <div class="col-md-11">
                                                    <div class="field">
                                                        <label for="">Fecha</label>
                                                        <input type="date" name="ina_just_fecha">
                                                    </div>
                                                </div>

                                                <div class="field">
                                                    <label for="">Comentario:</label>

                                                    <textarea name="ina_just_comment" style="width:95%"
                                                        rows="2"></textarea>

                                                </div>
                                                <div class=" ui error message"></div>

                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-success">Continuar</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    function clearForm(id) {
                                        console.log(`#form-justificar-${id}`);
                                        $(`#form-justificar-${id}`).form('reset');
                                    }
                                    $(() => {
                                        $(`#form-justificar-{{../idinasistencia}}`).form({
                                            fields: {
                                                ina_just_comment: {
                                                    identifier: 'ina_just_comment',
                                                    rules: [{ type: 'empty', prompt: 'El comentario es obligatorio.' }]
                                                },
                                                ina_just_fecha: {
                                                    identifier: 'ina_just_fecha',
                                                    rules: [{ type: 'empty', prompt: 'Seleccione la fecha.' }]
                                                }
                                            }, onSuccess: function (e) {
                                                e.submit();
                                            }
                                        })
                                    });
                                    /**/

                                    $(() => {

                                        $(`#form_falta_{{idalumno}}`).form({
                                            fields: {
                                                idmateria: {
                                                    identifier: "idmateria",
                                                    rules: [{ type: "empty", prompt: 'Seleccione la materia' }]
                                                },
                                                fecha: {
                                                    identifier: 'ina_fecha',
                                                    rules: [{ type: 'empty', prompt: 'Seleccione la fecha' }]
                                                }
                                            },
                                            onSuccess: function (e) {

                                                e.submit();
                                            }
                                        }).submit(function (e) {

                                            e.preventDefault();
                                        });
                                    });

                                </script>
                            </div>
                            {{!-- END:modal justificacion --}}
                            {{#btnDelete ../../user.rol_eliminar ../idinasistencia ../ina_estado}}{{/btnDelete}}
                            {{/ifeq}}

                            {{!-- TODO:Modal eliminar --}}
                            <div class="modal fade" id="modal-delete-{{idinasistencia}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header alert-danger">
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Eliminar inasistencia</h4>
                                        </div>
                                        <div class="modal-body">
                                            Resumen de la informaci칩n:
                                            <ul>
                                                <li>{{alu_apellidos_nombres}}</li>
                                                <li>{{ina_fecha}}</li>
                                                <li>{{materia}}</li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <form action="/inspeccion/faltas/eliminar" method="POST">
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Cancelar</button>

                                                <input type="hidden" name="idinasistencia" value="{{idinasistencia}}"
                                                    readonly>
                                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{!-- END:Modal eliminar --}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <div class="ui dividing header">Novedades <a href="/inspeccion/getCursos" class="btn btn-success btn-sm"><i class="fa fa-plus"></i></a></div>
            <table class="ui table compact selectable" id="tbl_novedades">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Alumno</th>
                        <th>Novedad</th>
                        <th>Fecha</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each novedades}}
                    <tr>
                        <td>{{idnovedad}}</td>
                        <td>{{alu_apellidos_nombres}}</td>
                        <td>{{nov_asunto}}</td>
                        <td>{{nov_fecha}}</td>
                        <td>

                            {{#btnDelete2 ../user.rol_eliminar idnovedad nov_state}}{{/btnDelete2}}


                            <div class="modal fade" id="modal-delete-2-{{idnovedad}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header alert-danger">
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Eliminar novedad</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="field">
                                                <label for="">Resumen de la informaci칩n:</label>
                                            </div>

                                            <ul>
                                                <li>{{alu_apellidos_nombres}}</li>
                                                <li>{{nov_fecha}}</li>
                                            </ul>
                                            <p><b>Asunto:</b><br>
                                                {{nov_asunto}}</p>
                                        </div>
                                        <div class="modal-footer">

                                            <form action="/inspeccion/novedades/eliminar" method="POST"
                                                id="frm_novedad_{{idnovedad}}">
                                                <input type="hidden" name="idnovedad" value="{{idnovedad}}" readonly>
                                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Cancelar</button>
                                            </form>


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(() => {
        $('#tbl_alumnos').DataTable();
        $('#tbl_novedades').DataTable();

        $('[data-toggle="popover"]').popover();
    });
</script>